{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{config.extra.title}}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{{config.extra.description}}{% endblock description %}">
  <link rel="stylesheet" type="text/css" href="{{get_url(path="base.css")}}">
  {% block head %}{% endblock head %}
  <!-- Google AdSense script-->
  <!-- <script data-ad-client="ca-pub-6451568943535452" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</head>
<body>
  <div id="container">
    <header><a href="{{config.base_url}}"><h1><img id="title_pic" alt="" src="{{config.extra.title_pic}}"/>{{config.extra.title}}</h1></a></header>
    <nav>{{ macros::nav() }}</nav>
    <main>{% block main %}{% endblock main %}</main>
    <footer>{{ macros::footer() }}</footer>
  </div>
</body>
</html>
