{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %} {# TODO use truncate html when ready and no description available #}

{% block head %}
{% if page.extra.katex %}
{{ macros::katex() }}
{% endif %}
{% endblock head %}

{% block main %}
<section class="card page">
<h1>{{ page.title }}</h1>
{{ page.content | safe }}

{# TODO activate once tag management is ok #}
{% if 0 and page.taxonomies %}
  <br>
  {{ macros::tags(tags=page.taxonomies.tags) }}
{% endif %}
</section>
{% endblock main %}
